:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --logo-icon-color-left: #2196f3;
  --logo-icon-color-right: #ffffff;
  --accent-color: #2196f3;
  --footer-accent-color: #ffffff;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #212121;
}

li {
  list-style-type: none;
}

/* INDEX.HTML */
/* HEADER */

.logo {
  font-family: var(--secondary-font);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

.logo-icon-color {
  color: var(--logo-icon-color-left);
}

.menu-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.mail-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.tel-link:hover {
  color: var(--accent-color);
}
.mail-link:focus,
.tel-link:focus {
  color: var(--accent-color);
}
/* HEADER END */

/* HERO */
.hero-section {
  background-color: #2f303a;
  text-align: center;
}
.hero-header {
  color: #ffffff;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/* HERO END */

/* OUR QUALITIES */

.qualities-name {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.qualities-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* OUR QUALITIES END */

/* TASKS */
.tasks-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* TASKS END */

/* TEAM */
.team {
  background: #f5f4fa;
}

.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-member {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* TEAM END */

/* FOOTER */

.footer {
  background-color: #2f303a;
}
.logo-icon-right {
  color: var(--logo-icon-color-right);
}

.location-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location-link:hover,
.location-link:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--footer-accent-color);
}
/* FOOER END */

/* PORTFOLIO */

/* PORTFOLIO FILTER */
.filter-button {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* PORTFOLIO FILTER END */

/* PORTFOLIO ITEMS */
.portfolio-project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/* PORTFOLIO ITEMS END */
